body {
  background: #f5f5f5;
}



header h2 {
      font-family: 'Roboto Slab', serif;
      font-size: 2.3em;
      text-transform: uppercase;
      margin: 50px 0 5px 30px;
}
.infograph {
  padding: 25px;
  display: block;
  margin-top: 60px;
  color: #555;
}
.infograph.addborder {
  border: 2px solid #ddd;
}
.infograph-icon {
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto 20px;
  width: 100px;
  font-size: 3rem;
}
.infograph-icon.medium {
  width: 175px;
  height: 175px;
  font-size: 4.5rem;
}
.infograph-icon.large {
  width: 250px;
  height: 250px;
  font-size: 6rem;
}

.infograph-icon.orange {
  background-color: #FFD700;
  color: black;
}

.infograph-icon.red {
  background-color: #8B0000;
  color: black;
}

.infograph-icon.gold {
  background-color: #FF8C00;
  color: black;
}

.infograph-icon i {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.infograph-info .infograph-title {
  font-size: 1.5em;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1em;
  color: #555;
  text-align: center;
  margin-bottom: 5px;
}
.infograph-info p {
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
  margin: 0;
}

.infograph.wide .infograph-icon {
  float: left;
  margin-right: .5em;
}
.infograph.wide .infograph-info {
  overflow: hidden;
}
.infograph.wide .infograph-title, .infograph.wide p {
  text-align: left;
}
